@import "tailwindcss";

:root {
  --primary: #3356C2;
  --secondary: #5185E0;
  --third: #72A5E8;
  --fourth: #0F172A;
  --fifth: #3C69D4;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-third: var(--third);
  --color-fourth: var(--fourth);
  --color-fifth: var(--fifth);
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}